.changepassword {
  padding-top: 10px;
  margin-top: 10%;
  margin-left: 37%;
  width: 550px;
  height: 300px;
  border-radius: 30px;
  background-color: #009688;
}

.form-header-changepassword {
  margin-left: 33%;
  margin-bottom: 3%;
}

.form-changepassword {
  margin-left: 25%;
}

.button-changepassword {
  margin-top: 9px;
  margin-left: 51%;
  width: 100px;
}

.showpassword-changepassword {
  margin-top: -8%;
  margin-left: 67.5%;
}
