.header-forgotpassword {
  background-color: #009688;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title-forgotpassword {
  width: 95px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 11px 0px 8px 18px;
  padding: 4px 0px 0px 8px;
  text-decoration: none;
  color: #f5f5f5;
  border-radius: 9px;
}

.title-forgotpassword:hover {
color: black;
background-color: white;
text-decoration: none;
border-radius: 5px;
}

.forgotpassword {
  padding-top: 10px;
  margin-top: 10%;
  margin-left: 32%;
  width: 550px;
  height: 250px;
  border-radius: 30px;
  background-color: #009688;
}

.form-header-forgotpassword {
  margin-top: 1%;
  margin-left: 35%;
  margin-bottom: 4%;
}

.form-forgotpassword {
  margin-left: 25%;
}

.button-forgotpassword {
  margin-left: 44%;
  width: 130px;
}
